@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 0.5px solid black;
    margin: 7px;
    width: 31.8%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12{
	   float: left;
       border: 0.5px solid black;
      }
   .col-md-6 {
    width: 48%;
    margin: 7px;
  }
   .col-md-12 {
    width: 99%;
    margin: 7px;
  }
}
@media (min-width: 200px) and (max-width: 767px){
	.col-sm-12{
		float: left;
		border: 0.5px solid black;
		width: 100%;
		margin: 7px;
	}
}


body{
	background-color:#ebf0fa;
}

section{
  margin-right: auto;
  margin-left: auto;
}

h1{
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	background-color:#262673;
	color: white;
	font-size: 40px;
}

p{
  background-color: #ffe6e6;
  color: black;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  font-size: 20px;
  border: 1px dashed #ff9999;
}

div{
	float: right;
	padding: 5px;
	background-color:#862d59 ;
	color: white;
	font-size: 25px;
	border:0.5px dashed black;
}